@import "src/app/system/Systems/NapicuOS/Apps/settings/styles/MainContentView";
@import "src/app/system/Systems/NapicuOS/Apps/settings/styles/BasicText";
@import "src/app/system/Systems/NapicuOS/Apps/settings/styles/BasicTable";

.MainContent{
  width: 40%;
  margin: auto;
  min-width: 400px;
}
