@import "src/app/Sys/Systems/NapicuOS/Apps/settings/styles/BasicTable";
@import "src/app/Sys/Systems/NapicuOS/Apps/settings/styles/MainContentView";

.MainOSName {
  text-align: center;
  font-size: 3rem;

}

#TimeSettingMenu{
  position: absolute;
  min-width: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  min-height: 150px;

  .TimeSettingMenuContent{
    padding: 20px;
    width: 500px;
  }
}

.BoxRow{
  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
}

.osInformation{

  width: 80%;
  margin: auto;
  min-width: 500px;

  .table{
    padding: 20px 0;
  }
}


.TimeFormatInput{
  display: flex;
}
