<section class="MainContent">
  <h1 class="BasicTitle">System theme</h1>
  <div class="NapicuOSSimpleBoxBorder Box">
    <div class="themes">
      <div class="windowExample NapicuThemeFeraDark">
        <section id="napicuos-App-window" class="SelectedWindow" style="position: relative;">
          <div id="TopWindowAppBar">
            <div class="WindowAppTitle">Terminal</div>
            <div class="napicuos-App-window-M">
              <div
                id="CloseButton"></div>
            </div>
          </div>
          <div id="INAppWindow">
            <section class="WindowContent in-window-example in-window-example-background-color"></section>
          </div>
        </section>
      </div>


      <div class="windowExample NapicuThemeFeraWhite">
        <section id="napicuos-App-window" class="SelectedWindow" style="position: relative;">
          <div id="TopWindowAppBar">
            <div class="WindowAppTitle">Terminal</div>
            <div class="napicuos-App-window-M">
              <div
                id="CloseButton"></div>
            </div>
          </div>
          <div id="INAppWindow">
            <section class="WindowContent in-window-example in-window-example-background-color"></section>
          </div>
        </section>
      </div>

    </div>
  </div>



</section>
