<section class="MainContent">

  <div class="WelcomeTitle" style="font-weight: 600;">Welcome to the NapicuOS installer</div>
  <div class="WelcomeDescription" id="SystemFont"> <!-- TODO id="SystemFont"-->
    <p>
      NapicuOS is an open source web-based system.
      Please report any bugs through the application, or email example@example.com
    </p>
    <div class="WelcomeMainContent">
      <div class="WelcomeSystemLogo">
        <img alt="NapicuOSLogo" src="/assets/systems/NapicuOS/Logo.svg">
        <div class="title">NapicuOS</div>
      </div>
      <div class="titleDesc">Built on Angular</div>
    </div>
  </div>
</section>


<section class="BottomContent NapicuOSSimpleButton NapicuSimpleButtonVariables">
  <button (click)="back()">Back</button>
  <button (click)="next()">Next</button>
</section>
