.BackgroundColor{
  background-color: #1982df;
}

.MainContent{

  animation: 1.5s ease-out 0s 1 onInit;
  text-align: center;
  color: white;
  margin-top: 30px;
  img{
    width: 155px;
    height: 155px;
  }

  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 0.9rem;
    font-weight: 400;
  }

  input{
    width: 40%;
  }
í
  .text{
    margin: 35px 0;
  }
}

@keyframes onInit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.weather{
  * {
    font-family: 'Work Sans', sans-serif !important;
  }
  text-align: center;
  margin-top: 35px;
  color: white;

  img{
    width: 120px;
    height: 120px;
    margin: 12px 0;
  }

  .temp{
    font-size: 5.3rem;
    font-weight: 800;
  }

  .temp-b{
    letter-spacing: 6px;
    font-size: 2rem;
  }

  .city{
    font-size: 2.2rem;
    margin: 10px 0;
    font-weight: 600;
  }

  .inf{
    font-size: 1.6rem;
    font-weight: 600;
    >div{
      margin-top: 10px;
    }

  }

  .date{
    color: rgba(255, 255, 255, 0.75) !important;
  }
}

