.BIOSSelectedTime {
  background: black;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: black;
  }
  50% {
    background-color: transparent;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: black;
  }
  50% {
    color: transparent;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: black;
  }
  50% {
    color: transparent;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: black;
  }
  50% {
    color: transparent;
  }
}



$Padding: 10.234px;
.BiosBackground {
  background-color: blue;

  width: 100%;
  height: 100vh;
  color: white;
  user-select: none;
}
.Top {
  text-align: center;
  padding: $Padding;
  p {
    font-size: 1.8rem;
  }
}
.Bottom {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $Padding;
  p {
    font-size: 1.8rem;
  }
}
.root {
  font-size: 1.45rem;
  div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 70%;
  }
}
.selected {
  background-color: lightgray;
  color: blue;
}
.nonselected {
  background-color: none;
  color: white;
}

.GridOptionsBox{
  padding: 0px 30px;
}
