<section class="BiosBackground">
  <div class="Menu">
    <div class="Top">
      <p>Napicu BIOS SETUP</p>
    </div>

    <section class="root">
      <div>
        <p *ngFor="let i of BiosMenu; let index = index" [ngClass]="{ selected: index == selected }">
          {{ i.title }}
        </p>
      </div>
    </section>
    <section id="BiosContainer">
      <div id="Frame">
        <div id="Grid">
          <div class="GridOptionsBox">
            <div class="Option"></div>
            <section class="Information">
              <router-outlet></router-outlet>
            </section>
          </div>
          <div class="Grid-ItemHoz Right">
            <div>
              {{ Descriptions }}
            </div>
            <div class="Information blue">
              <div class="Hin">
                <div class="Information-Options"><span class="Options-Arrow">►◄</span>: Select Screen</div>
                <div class="Information-Options"><span class="Options-Arrow">▲▼</span>: Select Item</div>
                <div class="Information-Options"><span>Enter</span>: Select</div>
                <div class="Information-Options"><span>+/-</span>: Change Opt.</div>
                <div class="Information-Options"><span>F5</span>: Optimized Defaults</div>
                <div class="Information-Options"><span>F10</span>: Save & Exit</div>
                <div class="Information-Options"><span>ESC</span>: Exit</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="Bottom">
      <p>v02.69 Napicu 1985 - 2021</p>
    </div>
  </div>
</section>
<app-option-panel *ngIf="Display"></app-option-panel>
