<section class="BiosBackground">
  <div class="Menu">
    <div class="Top">
      <p>Napicu BIOS SETUP</p>
    </div>

    <section class="root">
      <div>
        <p
          *ngFor="let i of BiosMenu"
          [ngClass]="i.id == selected ? 'selected' : 'nonselected'"
        >
          {{ i.title }}
        </p>
      </div>
    </section>

    <section id="BiosContainer">
      <div id="Frame">
        <div id="Title">System Overview</div>
        <div id="Grid">
          <div class="Grid-Item">
            <div class="Option"></div>
            <section class="Information">
              <router-outlet (activate)="Activate($event)"></router-outlet>
            </section>
          </div>
          <div class="Grid-Item">xd</div>
        </div>
      </div>
    </section>

    <div class="Bottom">
      <p>v02.69 Napicu 1985 - 2021</p>
    </div>
  </div>
</section>
<app-option-panel *ngIf="Display"></app-option-panel>
