<section class="WelcomeMainComponentContent">
  <section class="WelcomeAppComponentContent">
    <div class="WelcomeTitle" style="font-weight: 600;">{{GetMainTitle}}</div>
    <div class="WelcomeDescription" id="SystemFont"> <!-- TODO id="SystemFont"-->
      <p>
        <span [innerHTML]="GetDescTitle"></span><a href="https://github.com/Numax-cz/NapicuOS/issues" target="_blank">Github Issues</a>.
      </p>
      <div class="WelcomeMainContent">
        <div class="WelcomeSystemLogo">
          <img alt="NapicuOSLogo" src="/assets/systems/NapicuOS/Logo.svg">
          <div class="title">NapicuOS</div>
        </div>
        <div class="titleDesc">{{GetAngularText}}</div>
        <div class="author">By <a href="https://github.com/Numax-cz" target="_blank">Numax</a></div>
      </div>
    </div>

  </section>
  <section class="BottomContent NapicuOSSimpleButton NapicuSimpleButtonVariables BottomButtons">
    <div>
      <a href="https://github.com/Numax-cz/NapicuOS" target="_blank"><img [src]="GetGithubIcon" alt="Github Image"></a>
      <a href="https://angular.io/" target="_blank"><img [src]="GetAngularIcon" alt="Angular Image"></a>
      <div class="cop">©{{GetYear}} Napicu</div>
    </div>
    <div>
      <button (click)="back()">{{GetBackButtonText}}</button>
      <button (click)="next()" [disabled]="!checkSubmit()">{{GetNextButtonText}}</button>
    </div>
  </section>
</section>


