
$BoxWidth: 35px;
$BackgroundColor: var(--NapicuSimpleButtonColor);
$BorderRadius: 5px;

.Input{
  background-color: $BackgroundColor;
  border-radius: $BorderRadius;
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: fit-content;
  text-align: center;
  height: $BoxWidth !important;

  >div, button{
    padding: 5px;
    min-width: $BoxWidth;
    color: var(--NapicuTextColor);

    border-left: 1px solid black !important;
  }

  >div:first-child {
    border-left: 0 !important;
  }

  .option {
    width: $BoxWidth !important;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .right-left-brd{
    border-top-right-radius: $BorderRadius;
    border-bottom-right-radius: $BorderRadius;
  }

  .option:hover{
    background-color: var(--NapicuClassicDark2);
  }
;
}
