<section class="WindowContent ConsoleThemeFeraDark BackgroundColor" id="WindowScrollBar">
  <form class="form" [formGroup]="formData">
    <div>

      <div>Username</div>
      <input class="NapicuOSSimpleInput" spellcheck="false" formControlName="username" type="text" name="username"
             autocomplete="off"/>
    </div>
    <div>

      <div>Password</div>
      <input class="NapicuOSSimpleInput" spellcheck="false" formControlName="password" type="password" name="password"
             autocomplete="off"/>
    </div>


    <div>
      <div>Permission</div>
      <napicu-drop-down-menu [selectedOption]="0"
                             [options]="GetUsersPermission"></napicu-drop-down-menu>
    </div>
    <div class="NapicuOSSimpleButton" style="margin-top: 15px;">
      <button>Add new user</button>
    </div>
  </form>
</section>



