@import "../../Styles/buttons";

#SystemBackground {
  background-color: var(--NapicuTopMenuBackgroundColor) !important;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
}

#System {
  background-color: var(--NapicuTopMenuBackgroundColor);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#wallpaper {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 10px;
  z-index: 1;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

#TopPanelIcons {
  display: flex;
  position: relative;

  img {
    width: 19px;
    height: 19px;
    margin: 0px 5px;
    //filter: brightness(var(--NapicuSimbolFilter));
  }
}

.TopPanelLeftContentMenu{
  font-size: 1.2rem;
  img{
    filter: brightness(var(--NapicuSimbolFilter));
  }
}


.TopPanel {
  display: flex;
  padding: 3px 20px;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: var(--NapicuTopMenuTextColor);
  font-size: var(--NapicuSystemFontSize);
  background-color: var(--NapicuTopMenuBackgroundColor);

  .top-panel-item {
    padding: 6px 10px;
    border-radius: 20px;
    cursor: pointer;
  }

   .top-panel-item:hover {
    background-color: #333333;
  }
}

.BottomPanel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  min-width: 15%;
  max-width: 100%;
  background-color: var(--NapicuBottomMenuBackgroundColor);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border-radius: 20px;
  padding: 10px;

  img {
    cursor: pointer;
    width: 50px;
  }

  .rightPanelMenu {
    margin-right: 10px;
    padding-left: 15px;
    border-left: 2px solid gray;
  }

  .line {
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    position: absolute;

  }

  .smallLine {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  .widthLine {
    width: 70%;
    height: 6px;
    border-radius: 14px;
  }

  .DockIcon {
    position: relative;
    margin-right: 10px;
  }

  .SelectedApp {

  }

  .OpenApp {

  }


}

.NotCloseButtonScheme { //Main notification button schema
  background-color: #626262; //TODO CONFIG
  width: 20px;
  height: 20px;
  display: flex;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.NotCloseButtonScheme:hover {
  background-color: #545454; //TODO CONFIG

}

$ContextMenuBox-Padding: 10px 5px;
//TODO CONFIG - Main box


//Calendar
.DateContextMenu {
  text-align: center;
  color: var(--NapicuTextColor);
  z-index: 10000;
  width: 850px;
  height: 500px;

  left: 50%;
  transform: translateX(-50%);
  top: 48px; //TODO CONFIG 1
  font-size: 1rem;
  font-weight: normal;

  .MenuNotificationText {
    display: flex;
    justify-content: space-between;
  }

  .MenuDateText {

  }
}

.DateContextMenu-box {
  padding: 10px;
  width: 100%;
}

.DateContextMenu-MainContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  justify-items: start;
  height: 100%;
}

#NotificationContextMenu-DateBox {
  background-color: #313135; //TODO config
  margin: 10px 0;

  .ntf-icon {
    width: 44px;
  }

  .ntf-title {
    font-size: .9rem;
  }

  .ntf-des {
    font-size: .8rem;
    text-align: left;
  }

  .ntf-title-time {
    font-size: .9rem;
  }
}

.Notification {
  cursor: pointer;

  .ntf-exit {
    position: absolute;
    right: -4px;
    top: -4px;
    display: none;
  }

  :hover {
    .ntf-exit {
      display: flex;
    }
  }
}

.NoNotification {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--NapicuCalendarTextColorGray);
  font-weight: 500;
}

.NotificationContextMenu {
  left: 50%;
  color: white;
  z-index: 10000;
  min-width: 300px;
  transform: translateX(-50%);
  top: 48px; //TODO CONFIG 1

  .ntf-title-box {
    display: flex;
    justify-content: space-between;
  }

  .ntf-main {
    padding: $ContextMenuBox-Padding;
  }

  .ntf-title {
    font-size: 1rem;
    font-weight: 700;
  }

  .ntf-title-time {
    font-size: 1rem;
    color: #7e8181;
  }

  .ntf-mainDes {
    padding: 0 10px;
    width: 100%;
  }

  .ntf-con {
    display: flex;
    padding: 4px;
  }

  .ntf-icon {
    width: 64px;
  }

  .ntf-des {
    font-size: .9rem;
    padding: 5px 8px;
  }
}


.NapicuCalendar {

  display: flex;
  border-radius: 8px;
  width: fit-content;
  align-items: center;
  flex-direction: column;
  margin: auto;

  .header {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }

  .TopCPanel {
    text-align: left;
    width: 100%;
    margin-bottom: 16px;

    .dayName {
      font-size: 1.1rem;
      font-weight: 600;
      color: var(--NapicuCalendarTextDayNameColor);
    }

    .fullDate {
      font-size: 1.8rem;
      font-weight: 400;
    }

  }

  .Arrow {
    cursor: pointer;
    color: var(--NapicuCalendarTextColorGray);
  }

  .daysInWeek {
    display: inline-block;
    vertical-align: middle;
    margin-top: 14px;
    margin-bottom: 10px;

    span {
      color: var(--NapicuTextColor) !important;
    }
  }

  .rows-7 {
    display: flex;
  }

  .days {
    display: flex;
    flex-direction: column;
  }

  .week, .calendar, .daysInWeek {
    display: flex;
    flex-direction: row;
  }


  .days .day, .calendar, .daysInWeek span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 3px;
    font-weight: 400;
    border-radius: 9999rem;
  }

  .day:hover {
    background-color: var(--NapicuCalendarHoverDayColor);
  }
}

.selectedMonth {
  background-color: var(--NapicuCalendarSelectedMonthColor);
}

.selectedDay {
  background-color: var(--NapicuCalendarSelectedDayColor);
}

.outDate {
  color: var(--NapicuCalendarTextColorGray) !important;
}

.ntfdnD {
  display: flex;
  align-items: center;

  .ntfdnDT {
    font-size: 1rem;
    padding: 10px;
    font-weight: 400;
  }
}

.NapicuAppsMenu {
  width: 80%;
  margin: auto;
  position: absolute;
  left: 50%;
  height: 46%;
  z-index: 0;
  bottom: 10%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  overflow-x: auto;

  img {
    width: 65px;
  }

  .appName {
    color: white;
    font-size: 1rem;
  }

  .app {
    position: relative;
    width: 10%;

  }

  .MainContent {
    padding: 25px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .MainContent:hover {
    background-color: var(--NapicuCalendarHoverDayColor);
  }
}
