#System * {
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
}
#TopPanelIcons {
  width: 30px;
  padding: 2px;
  img {
    padding: 2px;
    margin: 0px 2.5px;
  }
}

#wallpaper {
  width: 100%;
  height: 100vh;
  background-color: #040d21;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.TopRightButtons {
  display: flex;
  justify-content: flex-end;
}
.TopPanel {
  display: flex;
  padding: 4px 20px;
  align-items: center;

  justify-content: space-between;
  color: #d6dce0;
  font-size: 0.8rem;
  background-color: rgb(12, 11, 11);
}
