<!-- MainSystem -->
<div id="SystemFont">
  <!-- Resizers -->
  <div class="snappingEdge">
    <div class="resizer snapping left" style="cursor: unset"></div>
    <div class="resizer snapping right" style="cursor: unset"></div>

    <div class="resizer snapping top-left" style="cursor: unset; width: 20px; height: 20px"></div>
    <div class="resizer snapping top-right" style="cursor: unset; width: 20px; height: 20px"></div>
  </div>
  <div id="SystemBackground">
    <section @NapicuOSfeoreStartUp id="System">
      <section style="width: 100%; height: 100%; display: flex; flex-direction: column">
        <!-- Top panel -->
        <section class="TopPanel">
          <div class="top-panel-item">Activities</div>
          <div (click)="clickDate()" class="top-panel-item">{{ systemTime }}</div>
          <!-- Date panel-->
          <div *ngIf="GetDateDisplay" class="DateContextMenu ContextMenuBox napicu-os-clickable">
            <div>
              This is test
            </div>
          </div>
          <div class="top-panel-item" id="TopPanelIcons">
            <img src="/assets/systems/NapicuOS/audio.svg"/>
            <img src="/assets/systems/NapicuOS/on-off.svg"/>
          </div>
        </section>
        <!--Notification panel-->
        <ng-container *ngIf="GetNotification">
          <section @NapicuOSfeoreNotification class="NotificationContextMenu ContextMenuBox">
            <div class="ntf-con">
              <div>
                <img class="ntf-icon" [src]="GetNotification.icon" alt="NotificationIcon">
              </div>
              <div class="ntf-mainDes">
                <div class="ntf-title">
                  {{GetNotification.title}}
                </div>
                <div class="ntf-des">
                  {{GetNotification.msg}}
                </div>
              </div>
            </div>
          </section>
        </ng-container>
        <!-- Main Panel -->
        <section style="display: contents; background-color: white">
          <div [style.background-image]="'url(' + wallpaper + ')'" id="wallpaper">
            <!-- Apps -->
            <section>
              <app-window></app-window>
            </section>
          </div>
        </section>

        <!-- Bottom AppPanel -->
        <section *ngIf="BottomDockDisplay" class="BottomPanel" id="Dock"
                 style="z-index: 10000">
          <div style="display: flex; align-items: center; justify-content: space-between">
            <section style="display: flex;">
              <!-- Applications -->
              <div *ngFor="let i of GetBottomDockProcess; let index = index" class="DockIcon">
                <!-- Application context menu-->
                <div *ngIf="index === selectedAppContext" class="ContextMenu ContextMenuBox napicu-os-clickable">
                  <div (click)="openFileInContextMenu(i.file)">Open</div>
                  <div
                    (click)="pinFunFileInContextMenu(i.file, index, i.alreadyPinned)">{{i.alreadyPinned ?
                    'Unpin' : 'Pin'}}</div>
                </div>
                <!-- Application icon-->
                <img (click)="dockRunner(i.file, i.running)" (contextmenu)="onRightClick(index, $event)"
                     [src]="i.file.iconPath"
                     alt="Application icon"/>
                <!-- Application line-->
                <div *ngIf="i.running || i.selected" [ngClass]="{'widthLine': i.selected, 'smallLine':
                i.running}" class="line"></div>
              </div>
            </section>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>
