#SystemBackground {
  background-color: black;
  overflow-y: hidden;
}
#System {
  background-color: var(--NapicuTopMenuBackgroundColor);
  width: 100%;
  height: 100vh;
}
#System * {
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
}

#TopPanelIcons {
  width: 30px;
  padding: 2px;
  img {
    padding: 2px;
    margin: 0px 2.5px;
  }
}

#wallpaper {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding: 10px;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}

.TopRightButtons {
  display: flex;
  justify-content: flex-end;
}
.TopPanel {
  display: flex;
  padding: 4px 20px;
  align-items: center;
  justify-content: space-between;
  color: var(--NapicuTopMenuTextColor);
  font-size: 1rem;
  background-color: var(--NapicuTopMenuBackgroundColor);
}
