<section class="WindowContent ConsoleThemeFeraDark BackgroundColor" id="WindowScrollBar">
  <section class="TopTools">

    <!--Top panel-->
    <div class="TopMenu">
      <!--Top tools options-->
      <div class="ToolOptions">

        <div (click)="clickFile()">{{topTxtView.file}}</div>
        <div (click)="clickEdit()">{{topTxtView.edit}}</div>
        <div (click)="clickView()">{{topTxtView.view}}</div>
        <div (click)="clickGo()">{{topTxtView.go}}</div>
      </div>
      <!--Bottom tools options-->
      <section class="FileManagerOptions">

        <div class="ToolOptionsFiles">
          <!--Back button-->
          <div>
            <img [ngClass]="{cantClick: !backHistoryPaths.length}" (click)="clickBack()" [src]="GetBackImage"
                 alt="Back icon">

          </div>
          <!--Next button-->
          <div>
            <img [ngClass]="{cantClick: !nextHistoryPaths.length}" (click)="clickNext()" [src]="GetNextImage"
                 alt="Next icon">
          </div>
          <!--Home button-->
          <div>
            <img (click)="clickHome()" [src]="GetHomeImage" alt="Home icon">
          </div>
        </div>
        <!--Path line-->
        <div class="pathSearchBar">
          <img class="iconFolder" [src]="GetFileIcon" alt="Path icon">
          <div
            (keydown.enter)="onEnter($event)"
            accept="txt"
            autocapitalize="off"
            autocomplete="off"
            autocorrect="off"
            contenteditable="true"
            id="inputLineID"
            spellcheck="false"
            class="input"
          >
            {{GetDirectoryPath}}
          </div>
        </div>
      </section>
    </div>
    <section class="BarOptions">
      <!--Left bar-->
      <div class="LeftBox">
        <!--Home folders-->
        <h1>Places</h1>
        <ul>
          <li (click)="clickSideFile(i)" *ngFor="let i of GetFoldersView">
            <img [src]="i.icon" alt="Directory icon">
            {{i.name}}
          </li>
        </ul>
        <!--Devices folders-->
        <h1>Devices</h1>
        <ul>
          <li *ngFor="let i of GetDrivesView">
            <img [src]="i.icon" alt="Directory icon">
            {{i.name}}
          </li>
        </ul>

      </div>
      <!--Right bar-->
      <section class="RightBox" (contextmenu)="clickShowFileManagerContextMenu($event)">

        <div class="RightObjectView">
          <div *ngFor="let i of displayedFiles" class="Object">
            <div (click)="onClickDirAndFileView(i)" (contextmenu)="clickFileAndDirProperty($event, i)"
                 class="ObjectContent">

              <img [src]="i.icon" alt="icon">
              <p>{{i.name}}</p>
            </div>

          </div>
        </div>
      </section>
    </section>
  </section>
</section>


<!--FileManager properties context menu-->
<section>
  <div *ngIf="boxMenuPosition && showFileManagerContextMenu"
       class="NapicuSimpleBoxMenu" [ngStyle]="{'left.px':
  boxMenuPosition.x, 'top.px':
  boxMenuPosition.y}" clickable="true">
    <ul>

      <li (click)="clickCreatDirectory()">
        <img [src]="GetAddFolderImage" alt="Add File icon">
        Creat Folder...
      </li>
      <li (click)="clickCreatFile()">
        <img [src]="GetAddFileImage" alt="Add Document icon">
        Creat Document
      </li>
    </ul>
  </div>
</section>

<!--Directory properties context menu-->
<section>
  <div *ngIf="boxMenuPosition && showDirPropertyContextMenu"
       class="NapicuSimpleBoxMenu" [ngStyle]="{'left.px':
  boxMenuPosition.x, 'top.px':
  boxMenuPosition.y}" clickable="true">
    <ul>
      <li>
        Open
      </li>
      <li>
        Delete
      </li>
      <li>
        Rename
      </li>
    </ul>
  </div>
</section>

<!--File properties context menu-->
<section>
  <div *ngIf="boxMenuPosition && showFilePropertyContextMenu"
       class="NapicuSimpleBoxMenu" [ngStyle]="{'left.px':
  boxMenuPosition.x, 'top.px':
  boxMenuPosition.y}" clickable="true">
    <ul>
      <li>
        Open
      </li>
      <li>
        Delete
      </li>
      <li>
        Rename
      </li>
    </ul>
  </div>
</section>

