.BackgroundColor {
  background-color: var(--NapicuClassicDark2);
  width: 100%;
  height: 100%;
}
.BottomBoxContainer{
  background-color: var(--NapicuClassicDarkDarker);
  button{
    margin: 0 7px;
  }
}

.BottomBoxButtonClass{
  padding: 20px;
  float: right;
}

.BarOptions {
  display: grid;
  height: 100%;
  grid-template-columns: 180px auto;
}

.LeftBox {
  border-right: 1px solid black;
  color: var(--NapicuTextColor);
  font-size: 1rem;
  padding: 0.5rem;



  ul {

    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.2rem;
    padding-left: 5%;
  }

  li {
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 6px 0;
    font-size: 1.1rem;
    padding-left: 14%;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;

    img {
      width: 30px;
      height: 30px;
      margin-right: 6px;
    }
  }

  li:hover {
    background: var(--NapicuSelectColor);
  }

}

.RightBox {
  padding: 7px;
}

.TopTools {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ToolOptionsFiles {
  display: flex;
  margin-left: 7px;

  img {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 0.2rem;
    transition: filter .2s;
    border-radius: 4px;
  }

  img:hover {
    background: var(--NapicuSelectColor);
  }

  .cantClick {
    cursor: default;
    filter: brightness(0.5);
    transition: filter .2s;
    background-color: transparent !important;
  }
}

.TopMenu {
  background-color: var(--NapicuClassicDark);
}

.FileManagerOptions {
  display: flex;
  padding: 5px 0;
  border-top: 2px solid #0000004f;
  border-bottom: 2px solid black;
}

.pathSearchBar {
  width: 90%;
  background-color: var(--NapicuClassicDarkDarker);
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--NapicuTextColor);
  font-size: 14px;
  //box-shadow: 0 1px 5px #000000;

  .iconFolder {
    width: 22px;
    height: 100%;
    margin: 0 6px;
  }

  .input {
    outline: none;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
  }
}

//TOP Tool BOX
.ToolOptions { //TODO component template
  display: flex;
  padding: 3px 0;
  color: var(--NapicuTextGray); //TODO
  > div {
    padding: 0 7px;
    cursor: pointer;
  }
}


.FileNameContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--NapicuTextColor);
  input{
    width: 94%;
  }
}

.RightObjectView {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: auto;
  color: var(--NapicuTextColor);

  .Object {
    width: 120px;
    word-break: break-all;
    cursor: pointer;
  }

  .ObjectContent:hover {
    //background: var(--NapicuCalendarHoverDayColor)
    img {
      filter: brightness(1.29);
    }
  }

  .ObjectContent {
    padding: 10px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    p { //TODO IDK Zda nechat
      padding: 4px;
      border-radius: 8px;
    }

  }


  .selectedFileDir {
    img {
      filter: brightness(0.2) !important;
    }

    p {
      background-color: var(--NapicuSelectColor);
    }
  }

  img {
    width: 50px;
    height: 50px;
  }
}
