<section class="WindowContent ConsoleThemeFeraDark BackgroundColor" id="WindowScrollBar">
  <section class="TopTools">

    <!--Top panel-->
    <div>
      <!--Top tools options-->
      <div class="ToolOptions">

        <div (click)="clickFile()">{{topTxtView.file}}</div>
        <div (click)="clickEdit()">{{topTxtView.edit}}</div>
        <div (click)="clickView()">{{topTxtView.view}}</div>
        <div (click)="clickGo()">{{topTxtView.go}}</div>
      </div>
      <!--Bottom tools options-->
      <div></div>
    </div>
    <section class="BarOptions">
      <!--Left bar-->
      <div class="LeftBox" style="background: #343944">
        <!--Home folders-->
        <h1>Places</h1>
        <ul>
          <li *ngFor="let i of GetHomeFolders">

            <img [src]="i.icon" alt="Directory icon">
            {{i.name}}
          </li>
        </ul>
        <!--Devices folders-->
        <h1>Devices</h1>
        <ul>
          <li>Device1</li>
          <li>Device1</li>
        </ul>

      </div>
      <!--Right bar-->
      <div>
        fdfdfd
      </div>
    </section>
  </section>
</section>

