.BackgroundColor {
  background-color: var(--NapicuSimpleBoxBackgroundColor);
  width: 100%;
  height: 100%;
}

.BarOptions {
  display: grid;
  height: 100%;
  grid-template-columns: 10% auto;
}

.LeftBox {
  background: #343944;
  border-right: 1px solid black;
}

.TopTools {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ToolOptions {
  display: flex;
  padding: 3px 0;
  color: var(--NapicuTextGray); //TODO
  > div {
    padding: 0 7px;
    cursor: pointer;
  }

}
