<section class="WindowContent ConsoleThemeFeraDark BackgroundColor" id="WindowScrollBar">
  <section>

    <!--Top panel-->
    <div>
      tvoje mama
    </div>
    <section class="BarOptions">
      <!--Left bar-->
      <div class="LeftBox" style="background: #343944">
        <!--Home folders-->
        <div *ngFor="let i of GetHomeFolders">
          {{i.name}}
        </div>

      </div>
      <!--Right bar-->
      <div>
        fdfdfd
      </div>
    </section>
  </section>
</section>

