.Center {
  display: table;
  z-index: 1;
  height: 100vh;
  min-height: 500px;
  width: 100%;
}

#SystemLogo {
  display: table-cell;
  vertical-align: middle;
  padding-top: 245px;
  width: 10.55%;
  margin: auto;
  padding-bottom: 100px;
}

.Loading {
  position: relative;
  width: 0;
  margin: auto;
  height: 50px;
}

.loader {
  width: 1px;
  position: absolute;
  animation: rotate 3.5s linear infinite;
}

.loader .dot {
  top: 30px;
  height: 7px;
  width: 7px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}

.text {
  position: absolute;
  bottom: -85px;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

@keyframes rotate {
  30% {
    transform: rotate(220deg);
  }
  40% {
    transform: rotate(450deg);
    opacity: 1;
  }
  75% {
    transform: rotate(720deg);
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

.loader:nth-child(1) {
  animation-delay: 0.15s;
}

.loader:nth-child(2) {
  animation-delay: 0.3s;
}

.loader:nth-child(3) {
  animation-delay: 0.45s;
}

.loader:nth-child(4) {
  animation-delay: 0.6s;
}

.loader:nth-child(5) {
  animation-delay: 0.75s;
}

.loader:nth-child(6) {
  animation-delay: 0.9s;
}
