<section id="black">
  <div @NapicuOSfeoreLoading class="MainContent" id="SystemFont">

    <div style="top: 10%">
      <img [src]="GetImg" id="SystemLogo"/>
    </div>
    <div style="top: 58%">
      <div class="Loading">
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
      </div>
    </div>
    <div style="bottom: 7%" class="SystemTitle">{{GetText}}</div>
  </div>
</section>
