@import "../styles";

.UserAppContent {
  color: white;
  margin-left: 3%;
}

.WelcomeTitle {
  font-size: 2.5rem;
  margin-right: 17px;
}

.AppMainContent {
  padding: 10px 0;

  input {
    width: 200px;
  }

  //Segments
  section {
    margin-bottom: 10px;
  }

  .AppInputSegment {
    margin-bottom: 16px;
  }
}
