.BackgroundColor {
  background-color: var(--NapicuClassicDark2);
}

.BrowserView{
  display: flex;
  flex-direction: column;
}

.BrowserIframe{
  width: 100%;
  height: 100%;
  iframe{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }

}

.SearchBarTools{
  display: flex;
  align-items: center;

  img{

  }
}

.NapicuSearch{
  position: relative;
  height: 100%;
  width: 100%;

  h1{
    font-size: 2rem;
    margin: 30px 0;
    color: var(--NapicuTextColor);
  }

  input{
    width: 50%;
  }

  .center{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
