<!-- MainSystem -->
<div id="SystemFont">
  <!-- Resizers -->
  <div class="snappingEdge">
    <div style="cursor: unset" class="resizer snapping left"></div>
    <div style="cursor: unset" class="resizer snapping right"></div>

    <div style="cursor: unset; width: 20px; height: 20px" class="resizer snapping top-left"></div>
    <div style="cursor: unset; width: 20px; height: 20px" class="resizer snapping top-right"></div>
  </div>
  <div id="SystemBackground">
    <section id="System" @NapicuOSfeoreLoginScreen>
      <section style="width: 100%; height: 100%; display: flex; flex-direction: column">
        <!-- Main Panel -->
        <section style="display: contents; background-color: white">
          <div
            [style.background-image]="'url(' + wallpaper + ')'"
            id="wallpaper"
            style="filter: blur(10px)"
          ></div>

          <section  class="Box">
            <div class="InputElements">
              <div>
                <input type="text" placeholder="Username" />
              </div>
              <div>
                <input type="password" placeholder="Password" />
              </div>
              <div class="LoginButton">
                <button type="button">Login</button>
              </div>
            </div>
          </section>
        </section>
      </section>
    </section>
  </div>
</div>
