<section class="AlertThemeFeraDark WindowContent BackgroundColor MainBoxPadding-15" id="WindowScrollBar">
  <section>
    <div>
      <div class="AlertBox" style="display: flex; align-content: center">
        <!--         Alert icon-->
        <div>
          <img
            [src]="GetImage"
            alt="Alert img"
            class="alertImgSize">
        </div>
        <!--         Alert content-->
        <div class="alertContent alertFontSize">
          {{GetAlertValue}}
        </div>
      </div>
      <div class="alertButton NapicuOSSimpleButton">
        <button (click)="onButtonClick()" style="font-size:1.1rem">Ok</button>
      </div>
    </div>
  </section>
</section>
