@import './variables';


.Title {
  text-align: center;
  font-weight: 900;
  font-size: 1.75rem;
}
*{
  color: var(--NapicuTextColor) !important;

}

.BackgroundColor {
  background-color: var(--NapicuClassicDark2);
}

.MainBox {
  padding: 10px;
}

.NapicuInputSelect-Welcome {
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.LangMenu {
  display: flex;
  padding: 10px 5px;
}

#LeftBox {
  background-color: var(--NapicuClassicDark);
  padding: 20px 0;

  > div {
    text-align: center;

    p {
      color: white;
      font-weight: 400;
      font-size: 1.4rem;
      padding: 10px 20px;
    }

  }
}

#MainBox {
  padding: 10px 10px 0 10px;
  width: 100%;
  height: auto;
  min-height: 100%;
}


.WelcomeMainComponentContent {
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.WelcomeAppComponentContent {
  height: 100%;
}

.BottomContent {
  padding: 20px;
  text-align: right;

  button {
    width: 90px;
    margin: 0 10px;
  }

  img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  .cop{
    padding-top: 5px;
    font-size: .9rem;
    color: rgba(255 255 255 / 54%) !important;
  }
}

.SubmitDisabledButton { //TODO CONFIG
  background-color: #454948;
  color: white;
  border: none;
  cursor: not-allowed;
}

.selected {
  background-color: var(--NapicuSelectColor);
}

