@import './variables';

.Title {
  text-align: center;
  font-weight: 900;
  font-size: 1.75rem;
}

.BackgroundColor {
  background-color: var(--NapicuAPPSWelcomeBackgroundColor);
}

.MainBox {
  padding: 10px;
}

.NapicuInputSelect-Welcome {
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.LangMenu {
  display: flex;
  padding: 10px 5px;
}

#LeftBox {
  background-color: #454948;
  padding: 20px 0;

  > div {
    text-align: center;

    p {
      color: white;
      font-weight: 400;
      font-size: 1.4rem;
      padding: 10px 20px;
    }

  }
}

#MainBox {
  padding: 10px 10px 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.MainContent {
  height: 100%;
  width: 100%;
}

.BottomContent {
  padding: 20px;
  text-align: right;

  button {
    width: 90px;
    margin: 0 10px;
  }

}

.selected {
  background-color: #1c1c1c;
}

//WelcomeComponent
.WelcomeTitle {
  color: white;
  font-size: 2.8rem;
  text-align: center;
  padding: 20px;
}

.WelcomeDescription {
  padding: 10px;

  p {
    font-size: 1rem;
    color: white;
    text-align: center;
  }
}

.WelcomeMainContent {
  margin-top: 100px
}

.WelcomeSystemLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 5.25rem;
    font-weight: bold;
    color: white;
  }

  img {
    margin-right: 45px;
    width: 110px;
    height: 110px;
  }
}

.titleDesc {
  padding: 14px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
}







