<ng-template #Welcome>
  <div>Welcome to the NapicuOS</div>

</ng-template>


<section class="WindowContent ConsoleThemeFeraDark BackgroundColor" id="WindowScrollBar">
  <!--  <section>-->
  <!--    <div class="Title">Welcome to the NapicuOS</div>-->
  <!--    <div style="margin: 2% 0">-->
  <!--      <p style="margin: 2% 0">-->
  <!--        NapicuOS is an open source web-based system, which is built on Angular.<br/>-->
  <!--        As you may have noticed the web contains a lot of stuff, so please respect its shortcomings-->
  <!--        and-->
  <!--        bugs.<br/>-->
  <!--        Please report any bugs through the application, or email example@example.com-->
  <!--      </p>-->
  <!--    </div>-->
  <!--    <div>-->
  <!--      <a href="https://github.com/Numax-cz/NapicuBios" target="_blank">-->
  <!--        <img src="assets/systems/NapicuOS/github.png" id="NapicuLangWelcome" alt="Language"/>-->
  <!--      </a>-->
  <!--    </div>-->

  <!--    <section class="LangMenu">-->
  <!--      <img src="assets/systems/NapicuOS/language.svg" id="NapicuLangWelcome" alt="Language"/>-->

  <!--      <select id="sweetBorder" class="NapicuInputSelect-Welcome">-->
  <!--        <option value="English">English</option>-->
  <!--        <option value="Čeština">Čeština</option>-->
  <!--      </select>-->
  <!--    </section>-->
  <!--    &lt;!&ndash; <div>-->
  <!--        <button class="NapicuSystemButtonWelcome" id="sweetBorder" style="font-weight: 800">Next</button>-->
  <!--      </div> &ndash;&gt;-->
  <!--  </section>-->


  <section style="display:flex; height: 100%;">
    <!--    Bar-->
    <div id="LeftBox">
      <div *ngFor="let i of GetBarOptions; let index = index" [ngClass]="{selected: index === GetSelectedBarOption}">
        <p>{{i.value}}</p>
      </div>
    </div>
    <!--    Mainbox-->
    <div id="MainBox">
      <section>
        <section>
          <ng-container *ngIf="GetBarOptions[GetSelectedBarOption]?.template"
                        [ngTemplateOutlet]="GetBarOptions[GetSelectedBarOption].template"></ng-container>
        </section>
      </section>
    </div>
  </section>
</section>



