<section class="WindowContent MainBoxPadding-15" id="WindowScrollBar">
  <section>
    <div class="Title">Welcome to the NapicuOS</div>
    <div style="margin: 2% 0">
      <!-- <img src="assets/systems/NapicuOS/icon-512x512.webp" alt="NapicuLogo" id="NapicuLogoWelcome" /> -->
      <p style="margin: 2% 0">
        NapicuOS is an open source web-based system, which is built on Angular.<br />
        As you may have noticed the web contains a lot of stuff, so please respect its shortcomings and
        bugs.<br />
        Please report any bugs through the application, or email example@example.com
      </p>
    </div>
    <div>
      <a href="https://github.com/Numax-cz/NapicuBios" target="_blank">
        <img src="assets/systems/NapicuOS/github.png" id="NapicuLangWelcome" alt="Language" />
      </a>
    </div>

    <section class="LangMenu">
      <img src="assets/systems/NapicuOS/language.svg" id="NapicuLangWelcome" alt="Language" />

      <select id="sweetBorder" class="NapicuInputSelect-Welcome">
        <option value="English">English</option>
        <option value="Čeština">Čeština</option>
      </select>
    </section>
    <!-- <div>
        <button class="NapicuSystemButtonWelcome" id="sweetBorder" style="font-weight: 800">Next</button>
      </div> -->
  </section>
</section>
