.BackgroundColor {
  background-color: #3e8ed0!important;
  width: 100%;
  height: 100%;
  color: var(--NapicuTextColor);
}


.MainContent{

  animation: 1.5s ease-out 0s 1 onInit;
  text-align: center;
  color: black;
  margin-top: 30px;
  img{
    width: 155px;
    height: 155px;
  }

  h1{
    font-size: 2rem;
  }

  .text{
    margin: 35px 0;
  }

}

@keyframes onInit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.Container{
  width: 75%;
  margin: 100px auto auto;
}

.Score{
  font-size: 2rem;
  width: 35%;
  margin: 30px auto;

  .MainTitle{
    font-size: 2.60rem;
    text-align: center;
    margin: 16px 0;

  }

  .green{
    color: #4cd137 !important;
  }

  .red{
    color: #e84118 !important;
  }

}

.Box{
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
}

.WordsBox{
  width: 100%;
  margin-bottom: 1.5rem;
  overflow-y: hidden;
  max-height: 5rem;
  min-height: 5rem;
  height: auto;
  text-align: center;
  background-color: #fff;
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;

  .Word{
    border-radius: 10px;
    margin: 0 4px;
    -webkit-user-select: none;
    user-select: none;
    padding: 3px 5px;
    display: inline-block!important;
  }

  .selectedWord{
    background-color: #dbdbdb!important;;
  }

  .errorWord{
    background-color: #f14668!important;
  }

  span{
    font-size: 1.8rem!important;
    font-style: inherit;
    font-weight: inherit;
  }

}

.WhiteBox{
  background-color: #fff;
  color: #4a4a4a;;
}

.MainInput{
  background-color: rgba(70, 70, 70, 0.444);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;

  input {
    border: none;
    outline: none;
    padding: 10px 14px;
    font-size: 1.4rem;
    width: 40%;
    margin: 0 25px;
    font-weight: 500!important;
    border-radius: 10px;
  }

  .SquareBox{
    width: 64px;
    height: 64px;
    display: flex;
    cursor: pointer;
    padding: .9rem;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}
