<section class="MainContent">
  <!-- Users profile -->
  <div class="UserProfile">
    <img [src]="GetUserIcon" alt="User">
    <h1>{{GetActiveUserName}}</h1>
    <img class="edit" [src]="GetPencilIcon" alt="Edit" (click)="openSetUserNameMenu()">
  </div>

  <!--Settings -->
  <div class="UserSettings">
    <div class="BasicText">{{GetAuthAndLoginText}}</div>
        <div class="NapicuOSSimpleGTable NapicuOSSimpleGTableHover table">
        <ul (click)="openSetUserPass()">
          <div>{{GetPasswordText}}</div>
          <div>{{GetPassTxt}}<span class="NapicuArrowSettingLeft" >></span></div>
        </ul>
        <ul>
          <div>{{GetAutoAuthText}}</div>
          <section class="SwitchNot UseAuthSwitch">
            <label class="switch UseAuthSwitch" clickable="false">
              <input type="checkbox" [checked]="!GetAutoLoginSwitchA"
                     (change)="onChangeAutoLoginSwitch()">
              <span class="slider UseAuthSwitchSlider"></span>
            </label>
          </section>
        </ul>
          <div class="NapicuOSSimpleButton AddUserButton">
            <button (click)="openAddUserMenu()">{{GetAddUserText}}</button>
          </div>
    </div>

  </div>

  <!--Change username menu-->
  <ng-container *ngIf="showInputMenu && inputMenuData">
    <section>
      <app-input clickable="true" [data]="inputMenuData"  class="Input" ></app-input>
    </section>
  </ng-container>


  <!--Add user menu-->
<!--  <ng-container *ngIf="addUserMenuDisplayed">-->
<!--    <div id="AddUserMenu" clickable="true">-->
<!--      <in-app-window appTitle="Window" [onClose]="closeAddUserMenu">-->
<!--        <div class="WindowContent AddUserMenuContent">-->

<!--        </div>-->
<!--      </in-app-window>-->
<!--    </div>-->
<!--  </ng-container>-->
</section>
