.MainContent{
  padding: 50px;
  color: var(--NapicuTextColor);
  width: 40%;
  margin: auto;
  min-width: 400px;
}

.UserProfile{
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 90px;
    height: 90px;
    background: gray;
    border-radius: 50%;

  }

  h1{
    font-size: 3.25rem;
    margin-left: 1.5rem;
  }

  .edit{
    width: 35px !important;
    height: 35px !important;
    margin-left: 30px;
    cursor: pointer;
    filter: brightness(0.7);
    background: none!important;
  }
}

.UserSettings{
  margin: 90px auto;
  .UserSettingsAuthText{
    padding: 10px 0;
    font-size: 1.2rem;
  }
}

.table{
  >ul{
    cursor: pointer;
    height: 52px;
  }
}

.Input{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.UseAuthSwitch{
  width: 50px !important;
  height: 26px !important;
}
.UseAuthSwitchSlider::before{
  width: 18px !important;
  height: 18px !important;
}
