<section class="WelcomeAppContent">
  <div class="WelcomeTitle" style="font-weight: 600;">Creat a new user</div>
  <div class="WelcomeDescription" id="SystemFont"> <!-- TODO id="SystemFont"-->

    <div class="AppMainContent">
      <section>
        <div class="AppInputSegment">
          <div>Your name</div>
          <input type="text" [ngModel]="GetConfig().User.data.username"/>
        </div>
        <div class="AppInputSegment">
          <div>Your computer’s name</div>
          <input type="text"/>
        </div>
      </section>

      <section>
        <div class="AppInputSegment">
          <div>Chose a password</div>
          <input type="text"/>
        </div>
        <div class="AppInputSegment">
          <div>Confirm your password</div>
          <input type="text"/>
        </div>
      </section>
    </div>
  </div>
</section>
