
$borderRadius: 5px;

.NapicuOSBasicLoaderLine-Base{
  background-color: rgba(68, 68, 68, 0.53);
  width: 100%;
  border-radius: $borderRadius;
}
.NapicuOSBasicLoaderLine{
  height: 20px;
  background-color: var(--NapicuCalendarSelectedMonthColor);
  border-radius: $borderRadius;
}
