<section class="MainContent">
  <h1 class="BasicTitle">NapicuOS</h1>

  <!--MainContent -->
  <section class="BasicTableSizes BasicTableSettings-Large">

    <div class="NapicuOSSimpleGTable NapicuOSSimpleGTableHover NapicuOSSimpleGTablePointer table" (click)="openSetHost()">
      <ul>
        <li>{{GetAboutLangTexts.device_name}}</li>
        <li>{{GetDeviceName}} <span class="NapicuArrowSettingLeft" >></span></li>
      </ul>
    </div>

    <div class="NapicuOSSimpleGTable NapicuOSSimpleGTableHover table">
      <ul>
        <div>{{GetAboutLangTexts.memory}}</div>
        <div>{{GetMemSize}}</div>
      </ul>
      <ul>
        <div>{{GetAboutLangTexts.processor}}</div>
        <div>{{GetCpuModel}}</div>
      </ul>
      <ul>
        <div>{{GetAboutLangTexts.graphics}}</div>
        <div>{{GetGpuModel}}</div>
      </ul>
      <ul>
        <div>{{GetAboutLangTexts.disk_caps}}</div>
        <div>16.1 GB</div>
      </ul>
    </div>


    <div class="NapicuOSSimpleGTable NapicuOSSimpleGTableHover table">
      <ul>
        <div>{{GetAboutLangTexts.os_name}}</div>
        <div>{{GetOSName}}</div>
      </ul>
      <ul>
        <div>{{GetAboutLangTexts.os_type}}</div>
        <div>{{GetOSType}}</div>
      </ul>
      <ul>
        <div>{{GetAboutLangTexts.os_ver}}</div>
        <div>{{GetOSVersion}}</div>
      </ul>
    </div>
  </section>

  <ng-container *ngIf="showInputMenu && inputMenuData">
    <section>
      <app-input clickable="true" [data]="inputMenuData" class="Input" ></app-input>
    </section>
  </ng-container>
</section>

