@import "src/app/Sys/Systems/NapicuOS/Apps/settings/styles/BasicTable";
@import "src/app/Sys/Systems/NapicuOS/Apps/settings/styles/MainContentView";

.MainOSName {
  text-align: center;
  font-size: 3rem;
}
.Input{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
