<section class="MainContent">
  <h1 class="MainOSName">NapicuOS</h1>

  <!--MainContent -->
  <section class="osInformation">

    <div class="NapicuOSSimpleGTable table">
      <ul>
        <li>Device Name</li>
        <li>localhost-live</li>
      </ul>
    </div>

    <div class="NapicuOSSimpleGTable table">
      <ul>
        <div>Hardware Model</div>
        <div>VirtualBox</div>
      </ul>
      <ul>
        <div>Memory</div>
        <div>10 GiB</div>
      </ul>
      <ul>
        <div>Processor</div>
        <div>i5-9400F CPU &2.90GHz</div>
      </ul>
      <ul>
        <div>Graphics</div>
        <div>RTX 3090TI</div>
      </ul>
      <ul>
        <div>Disk Capacity</div>
        <div>16.1 GB</div>
      </ul>
    </div>









  </section>
</section>
