
.MainContent{
  padding: 25px;
  color: var(--NapicuTextColor);

}

.MainOSName {
  text-align: center;
  font-size: 3rem;

}

.osInformation{

  width: 80%;
  margin: auto;
  min-width: 500px;

  .table{
    padding: 20px 0;
  }
}

.Input{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
