<section id="BiosContainer">
  <div id="Frame">
    <div id="Title">System Overview</div>
    <div id="Grid">
      <div class="Grid-Item GridPaddin200">
        <div class="Option"></div>
        <div class="Information">
          <div id="Grid-BiosItems">
            <div>BIOS Version<span class="colon">:</span></div>
            <div>v02.69</div>
          </div>
          <div id="Grid-BiosItems">
            <div>Processor Type<span class="colon">:</span></div>
            <div>
              Intel(R) Core(TM)<br />
              i5 CPU 750 @ 2.67GHz (64bit)
            </div>
          </div>

          <div id="Grid-BiosItems">
            <div>Processor Speed<span class="colon">:</span></div>
            <div>2666MHz</div>
          </div>

          <div id="Grid-BiosItems">
            <div>Cache Size<span class="colon">:</span></div>
            <div>8192KB</div>
          </div>

          <div id="Grid-BiosItems">
            <div>Total Memory<span class="colon">:</span></div>
            <div>8192MB</div>
          </div>
        </div>
      </div>
      <div class="Grid-Item">xd</div>
    </div>
  </div>
</section>
