@import './variables.scss';

.BackgroundColor {
  background-color: var(--NapicuAPPSTerminalBackgroundColor);
}
#CommandShellInput {
  * {
    font-size: var(--NapicuAPPSTerminalFontSize);
  }
  color: var(--NapicuAPPSTerminalTextColor);
  width: 100%;
  padding: 4px;
}
.inputLine {
  outline: none;
  min-width: calc(100% - 200px);
}
.inputMargin {
  margin-left: 10px;
}

.line {
  display: flex;
}
.TerminalNames {
  color: var(--NapicuAPPSTerminalInfoColorNames);
}
.TerminalPath {
  color: var(--NapicuAPPSTerminalInfoColorPath);
}
