<section
  #AppScreen
  class="WindowContent BackgroundColor ConsoleThemeFeraDark MainBoxPadding-15"
  id="WindowScrollBar"
  (keydown.arrowup)="onArrowUp($event)"
  (keydown.arrowdown)="onArrowDown($event)"
>
  <section id="CommandShellInput">
    <div *ngFor="let i of Getlines; let index = index">
      <div>
        <span class="TerminalNames"> {{ GetCommandLineAc.user }}@{{ GetCommandLineAc.compName }} </span>:<span
          class="TerminalPath"
          >{{ GetCommandLineAc.path }}</span
        >$<span class="inputMargin">{{ i.enteredCommand }}</span>
      </div>
      <div *ngFor="let x of i.lines" class="line">
        {{ x.Write().value }}
      </div>
    </div>
    <div *ngIf="!GetactiveCommand" class="line">
      <div>
        <span class="TerminalNames"> {{ GetCommandLineAc.user }}@{{ GetCommandLineAc.compName }} </span>:<span
          class="TerminalPath"
          >{{ GetCommandLineAc.path }}</span
        >$
      </div>
      <div
        #InputValue
        contenteditable="true"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        id="inputLineID"
        class="inputLine inputMargin single-line"
        (keydown.enter)="onEnter($event)"
      ></div>
    </div>
  </section>
</section>
