<section class="WindowContent BackgroundColor ConsoleThemeFeraDark MainBoxPadding-15" id="WindowScrollBar">
  <section id="CommandShellInput" (keydown)="onArrow($event)">
    <div *ngFor="let i of lines; let index = index;">
      <div>
        <span class="TerminalNames"> {{ getCommandLineAc.user }}@{{ getCommandLineAc.compName }} </span>:<span
          class="TerminalPath"
          >{{ getCommandLineAc.path }}</span
        >$<span class="inputMargin">{{ i.enteredCommand }}</span>
      </div>
      <div *ngFor="let x of i.lines" class="line">
        {{ x.Write().value }}
      </div>
    </div>
    <div class="line">
      <div>
        <span class="TerminalNames"> {{ getCommandLineAc.user }}@{{ getCommandLineAc.compName }} </span>:<span
          class="TerminalPath"
          >{{ getCommandLineAc.path }}</span
        >$
      </div>
      <p
        contenteditable="true"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        class="inputLine inputMargin"
        (keydown.enter)="onEnter($event)"
      ></p>
    </div>
  </section>
</section>
