.ConsoleThemeFeraDark {
  --NapicuAPPSTerminalBackgroundColor: #1e2127;
  --NapicuAPPSTerminalTextColor: #ffffff;
  --NapicuAPPSTerminalCaretColor: #ffffff;
  --NapicuAPPSTerminalFontSize: 1.2rem;
  --NapicuAPPSTerminalInfoColorNames: #97c178;
  --NapicuAPPSTerminalInfoColorPath: #5ca4e0;
}
