.ConsoleThemeFeraDark {
  --NapicuAPPSTerminalBackgroundColor: #1e2127;
  --NapicuAPPSTerminalTextColor: #ABB2BF;
  --NapicuAPPSTerminalCaretColor: #ABB2BF;
  --NapicuAPPSTerminalInfoColorNames: #97c178;
  --NapicuAPPSTerminalInfoColorPath: #5ca4e0;


  --NapicuTerminal-FontSize: 1.2rem;
  --NapicuTerminal-background: #1E2127;
  --NapicuTerminal-blue: #61AFEF;
  --NapicuTerminal-brightBlack: #5C6370;
  --NapicuTerminal-cyan: #56B6C2;
  --NapicuTerminal-green: #98C379;
  --NapicuTerminal-White: #FFFFFF;
  --NapicuTerminal-purple: #C678DD;
  --NapicuTerminal-red: #E06C75;
  --NapicuTerminal-yellow: #D19A66;

}
