@mixin inputIndicator {
  content: "▼";
  font-size: 1.1rem;
  position: absolute;
  right: 0;
  color: #dbdbdb4d;
}

.drop-down-menu {
  width: 100%;
  cursor: pointer;
}

.close::after {
  @include inputIndicator;
  transition: .7s;
}

.open::after {
  @include inputIndicator;
  transform: rotate(180deg);
  transition: .7s;

}

.options {
  bottom: -23%;
  left: 50%;
  padding: 10px 0;
  //transform: translateX(-50%);

  >div{
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    color: var(--NapicuTextGray);
  }

  >div:hover{
    background-color: var(--NapicuClassicDark);
  }
}
