<section id="black">
    <div class="Container">
        <div class="TopText">
            <p>
                GNU GRUB version 2.02
            </p>
        </div>
        <div class="SelectedMenu">
            <div>
                <div *ngFor="let i of Systems; let index = index">
                    <p [ngClass]="{selected: index == selected}">{{ SystemName(i) }}</p>
                </div>
            </div>
        </div>
        <div class="BottomText">
            TEXT HERE
        </div>
    </div>
</section>
