<section class="MainContent">
  <!--Settings -->
  <div class="BasicTableSizes BasicTableSettings-Medium">
    <!--Selected wallpaper -->
    <div class="selectedImg">

      <img [src]="GetActiveWallpaper" alt="Selected wallpaper">

    </div>
    <!--Wallpapers -->
    <div class="wallpapers">
      <div *ngFor="let i of system_wallpapers; let index = index">
        <img [src]="i" (click)="setWallpaper(i)" [ngClass]="{selectedWallpaper: index == GetActiveWallpaperIndex}"  alt="System Wallpapers">
      </div>

    </div>

    <div>
      <div>{{GetCustomWallpaperText}}</div>
      <input class="NapicuOSSimpleInput" [(ngModel)]="wallpaper_url" (ngModelChange)="onChangeURL()" (focusout)="setURLText()" [ngClass]="{'NapicuOSSimpleInput-Red-Border': error_input}"  placeholder="URL" spellcheck="false" type="url" name="url"
             autocomplete="off"/>
    </div>
  </div>


</section>
