
.NapicuOSSimpleButton {
  button {
    outline: none;
    border: none;
    border-radius: 7px;
    background: var(--NapicuSimpleButtonColor);
    border-bottom: 4px solid var(--NapicuSimpleButtonBottomColor);
    color: white;
    font-size: var(--NapicuSimpleButtonSize);
    padding: 5px;
    cursor: pointer;
  }
}
