$boxSize: 4px;
$boxSizeActive: 3px;
.NapicuOSSimpleButton {
  button {
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--NapicuSimpleButtonColor);
    /* box-shadow: 0 4px var(--NapicuSimpleButtonBottomColor); */
    color: white;
    font-size: var(--NapicuSimpleButtonSize);
    padding: 5px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    cursor: pointer !important;
    transition: background-color .2s;
  }

  button:hover {
    background-color: var(--NapicuSimpleButtonHoverColor);
  }

  button:disabled {
    filter: contrast(0.8) brightness(0.7);
    cursor: default !important;
    pointer-events: none;
  }

  button:active {
    filter: contrast(0.95) brightness(0.8);
    box-shadow: 0 $boxSizeActive var(--NapicuSimpleButtonBottomHoverColor);
    transform: translateY(4px)
  }
}
