@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#RobotoFont * {
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Roboto', sans-serif;
}

#SystemFont * {
  font-family: 'Roboto', sans-serif;
}

#SourceCodePro * {
  font-family: 'Source Code Pro', monospace;
}
