.NapicuOSSimpleGTable{

  >ul{
     display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 15px;
    border: 1px solid black;
    align-items: center;
    border-top: 0;
    background-color: var(--NapicuClassicGray);
  }

  >ul:first-child {
    border-top: 1px solid black !important;
  }
}

.NapicuOSSimpleGTableHover{
  >ul:hover{
    background-color: var(--NapicuClassicDark2);
  }
}
