// This is the main setting of the Bernadd theme
// Html to change the class theme is in system.component.html

.NapicuThemeFeraDark {
  //TopPanel
  --NapicuTopMenuBackgroundColor: rgb(0, 0, 0);
  --NapicuTopMenuTextColor: #d6dce0;
  --NapicuWindowBorder: 17px;
  --NapicuWindowColor: rgb(0, 0, 0);
  --NapicuWindowPadding: 7px;
  --NapicuWindowBoxShadow: 0px 0px 44px 3px rgba(0, 0, 0, 0.48);
  //MenuButtons
  --NapicuWindowButtonColor-Close: #fc5753;
  --NapicuWindowButtonColor-Full: #33c748;
  --NapicuWindowButtonColor-Mini: #fdbc40;
  --NapicuWindowButtonColor-Close-Border: #df4744;
  --NapicuWindowButtonColor-Full-Border: #27aa35;
  --NapicuWindowButtonColor-Mini-Border: #de9f34;
}
.NapicuThemeFeraWhite {
  --NapicuTopMenuBackgroundColor: rgb(255, 255, 255);
  --NapicuTopMenuTextColor: rgb(0, 0, 0);

  --NapicuWindowBorder: 17px;
  --NapicuWindowColor: white;
  --NapicuWindowPadding: 7px;
  --NapicuWindowBoxShadow: 0px 0px 44px 3px rgba(0, 0, 0, 0.48);
  --NapicuWindowButtonColor-Close: #fc5753;
  --NapicuWindowButtonColor-Full: #33c748;
  --NapicuWindowButtonColor-Mini: #fdbc40;
  --NapicuWindowButtonColor-Close-Border: #df4744;
  --NapicuWindowButtonColor-Full-Border: #27aa35;
  --NapicuWindowButtonColor-Mini-Border: #de9f34;
}
