.WindowContent {
  height: 100%;
  border-bottom-left-radius: var(--NapicuWindowBorder);
  border-bottom-right-radius: var(--NapicuWindowBorder);
}

.BgWhite {
  background-color: white;
}

.MainBoxPadding-15 {
  padding: 15px;
}

#sweetBorder {
  border: 0;
  border: 1px solid #0000007a;
  border-radius: 4px;
  outline: none;
}

#WindowScrollBar {
  overflow: auto;
}

#WindowScrollBar::-webkit-scrollbar {
  width: 7px;
}

#WindowScrollBar::-webkit-scrollbar-track {
  background-color: transparent;
}

#WindowScrollBar::-webkit-scrollbar-thumb {
  display: block;
  border-radius: 9999px;
  background-color: var(--NapicuWindowScrollBar);
}




#napicuos-App-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: var(--NapicuWindowBorder);
  box-shadow: var(--NapicuWindowBoxShadow);
  // -webkit-box-shadow: var(--apicuWindowBoxShadow);
  // -moz-box-shadow: var(--NapicuWindowBoxShadow);
}

.SelectedWindow {
  background-color: var(--NapicuSelectedWindowColor);
}

.UnSelectedWindow {
  filter: contrast(0.9);
  background-color: var(--NapicuUnSelectedWindowColor);
}

#INAppWindow {
  height: 100%;
  overflow: hidden;
}

#TopWindowAppBar {
  display: flex;
  align-items: center;
  color: var(--NapicuTitleTextColor);
  justify-content: flex-end;
}

.WindowAppTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--NapicuTextColor);
}

.napicuos-App-window-M {
  display: flex;
  justify-content: flex-end;
  padding: var(--NapicuWindowPadding);

  div {
    border-radius: 50%;
    height: var(--NapicuWindowButtonsSize);
    width: var(--NapicuWindowButtonsSize);
    margin-left: var(--NapicuWindowButtonsMargin);
    cursor: pointer;
  }
}

#CloseButton {
  background-color: var(--NapicuWindowButtonColor-Close);
  //border: 2px solid var(--NapicuWindowButtonColor-Close-Border);
}

#FullButton {
  background-color: var(--NapicuWindowButtonColor-Full);
  //border: 2px solid var(--NapicuWindowButtonColor-Full-Border);
}

#MinButton {
  background-color: var(--NapicuWindowButtonColor-Mini);
  //border: 2px solid var(--NapicuWindowButtonColor-Mini-Border);
}


.fitWindowContent {
  //transform-origin: unset;
  transform-origin: top left;
  height: fit-content;
  width: fit-content;
}
