.WindowContent {
  background-color: white;
  height: 100%;
  border-bottom-left-radius: var(--NapicuWindowBorder);
  border-bottom-right-radius: var(--NapicuWindowBorder);
}
.MainBoxPadding-15 {
  padding: 15px;
}

.NapicuInputSelect-Welcome {
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

#sweetBorder {
  border: 0;
  border: 1px solid #0000007a;
  border-radius: 4px;
  outline: none;
}
