<section class="MainContent">
  <h1 class="BasicTitle">{{GetSystemLangText}}</h1>
  <div class="languages">
    <div>
      <img [ngClass]="{selectedLanguage: GetLanguage === 'en'}" class="SettingsCursorHoverItem" [src]="GetUSAFlag" alt="Language flag" (click)="changeLanguage('en')">
    </div>
    <div>
      <img [ngClass]="{selectedLanguage: GetLanguage === 'cs'}" class="SettingsCursorHoverItem" [src]="GetCzechFlag" alt="Language flag" (click)="changeLanguage('cs')">
    </div>
  </div>
</section>
