@import "src/app/Sys/Systems/NapicuOS/Apps/settings/styles/MainContentView";
@import "src/app/Sys/Systems/NapicuOS/Apps/settings/styles/BasicText";
@import "src/app/Sys/Systems/NapicuOS/Apps/settings/styles/Cursor";

.languages{
  display: flex;
  padding: 50px 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  img{
    width: 200px;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 40px;
  }
}

.selectedLanguage{
  border: 5px solid var(--NapicuCalendarSelectedMonthColor);
}
