<!-- <section *ngIf="AppComponent && AppComponent.Window && AppComponent.display">
  <ng-component *ngComponentOutlet="AppComponent.component"></ng-component>
</section> -->

<div *ngFor="let i of AppComponent">
  <section
    *ngIf="SystemBoot && i.Window?.appData && i.Window.display"
    id="napicuos-App-window"
    [ngStyle]="{
      'width.px': i.Window.appData.width,
      'height.px': i.Window.appData.height,
      'top.%': i.Window.appData.posY,
      'left.%': i.Window.appData.posX
    }"
  >
    <div class="napicuos-App-window-M">
      <div id="MinButton"></div>
      <div id="FullButton"></div>
      <div id="CloseButton"></div>
    </div>
    <div style="height: 100%">
      <ng-component *ngComponentOutlet="i.Window.WindowComponent"></ng-component>
    </div>
  </section>
</div>
