<div *ngFor="let i of AppProcess; let index = index" (mousedown)="activeWindow(i, $event, index)">
  <section
    [@NapicuOSWindowAnimation]="{
      value: maximized,
      params: {
        width: i.Window.appData.width,
        height: i.Window.appData.height,
        top: i.Window.appData.posY,
        left: i.Window.appData.posX
      }
    }"
    *ngIf="SystemBoot && i.Window?.appData && i.Window.display"
    id="napicuos-App-window"
    [ngStyle]="{
      'width.%': i.Window.appData.width,
      'height.%': i.Window.appData.height,
      'top.%': i.Window.appData.posY,
      'left.%': i.Window.appData.posX,
      'z-index': SystemActivated(i) ? 1000 : 1
    }"
    [ngClass]="SystemActivated(i) ? 'SelectedWindow' : 'UnSelectedWindow'"
  >
    <div *ngIf="!maximized && !move" class="resizers" (mousedown)="resizersIn(i, $event)">
      <div class="resizer left"></div>
      <div class="resizer right"></div>
      <div class="resizer bottom"></div>
      <div class="resizer top"></div>

      <div class="resizer top-left"></div>
      <div class="resizer top-right"></div>
      <div class="resizer bottom-left"></div>
      <div class="resizer bottom-right"></div>
    </div>

    <div class="napicuos-App-window-M" (mousedown)="moveWindowIn(i, $event)">
      <div id="MinButton" (click)="minimized(i)"></div>
      <div id="FullButton" (click)="maximize(i)"></div>
      <div id="CloseButton" (click)="close(i, $event)"></div>
    </div>

    <div id="INAppWindow">
      <ng-component *ngComponentOutlet="i.Window.WindowComponent"></ng-component>
    </div>
  </section>
</div>
