@import '../../Styles/window.scss';

#napicuos-App-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: var(--NapicuWindowBorder);
  box-shadow: var(--NapicuWindowBoxShadow);
  // -webkit-box-shadow: var(--apicuWindowBoxShadow);
  // -moz-box-shadow: var(--NapicuWindowBoxShadow);
}

.SelectedWindow {
  background-color: var(--NapicuSelectedWindowColor);
}

.UnSelectedWindow {
  filter: contrast(0.9);
  background-color: var(--NapicuUnSelectedWindowColor);
}

#INAppWindow {
  height: 100%;
  overflow: hidden;
}

#TopWindowAppBar {
  display: flex;
  align-items: center;
  color: var(--NapicuTitleTextColor);
  justify-content: flex-end;
}

.WindowAppTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.napicuos-App-window-M {
  display: flex;
  justify-content: flex-end;
  padding: var(--NapicuWindowPadding);

  div {
    border-radius: 50%;
    height: var(--NapicuWindowButtonsSize);
    width: var(--NapicuWindowButtonsSize);
    margin-left: var(--NapicuWindowButtonsMargin);
    cursor: pointer;
  }
}

#CloseButton {
  background-color: var(--NapicuWindowButtonColor-Close);
  //border: 2px solid var(--NapicuWindowButtonColor-Close-Border);
}

#FullButton {
  background-color: var(--NapicuWindowButtonColor-Full);
  //border: 2px solid var(--NapicuWindowButtonColor-Full-Border);
}

#MinButton {
  background-color: var(--NapicuWindowButtonColor-Mini);
  //border: 2px solid var(--NapicuWindowButtonColor-Mini-Border);
}


.fitWindowContent {
  transform-origin: top left;
  height: fit-content;
  width: fit-content;
}



