<div
  class="NapicuOSSimpleInput drop-down-menu"
  napicuDropDownMenuClick
  (napicuMenuClick)="isDropDownOpen = false"
  clickable="false"
>
  <div style="position: relative" [ngClass]="{'open': isDropDownOpen, 'close': !isDropDownOpen}"
       (click)="isDropDownOpen = !isDropDownOpen"
       clickable="false">
    <span class="option-name">{{options[selectedOption]}}</span>
  </div>

  <ul class="NapicuOSSimpleContextMenu options" style="border-radius: inherit;" *ngIf="isDropDownOpen"
      clickable="false">
    <div
      *ngFor="let i of options; let index = index"
      (click)="selectItem(index)"
    >
      {{i}}
    </div>
  </ul>
</div>
