@mixin inputIndicator {
  content: "▼";
  font-size: 1.1rem;
  position: absolute;
  right: 0;
  color: #dbdbdb4d;
}

.drop-down-menu {
  margin-top: 15px;
  width: 100%;


}

.close::after {
  @include inputIndicator;
  transition: .7s;
}

.open::after {
  @include inputIndicator;
  transform: rotate(180deg);
  transition: .7s;

}

.options {
  bottom: -23%;
  left: 50%;
  transform: translateX(-50%);
  width: 74%;
}
