.BasicTableSizes {
  .table {
    padding: 20px 0;
  }
}

.BasicTableSettings-Large{
  width: 80%;
  margin: auto;
  min-width: 500px;
}

.BasicTableSettings-Medium{
  width: 50%;
  margin: auto;
  min-width: 500px;
}


