.drop-down-input{
  display: inline-block;
  cursor: pointer;

  .arrow{
    font-size: 50%;
    margin: 0 0 0 10px;
    vertical-align: middle;
  }
}

.input{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 0px 10px 10px 10px;
  .error{
    color: red;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 10px 0;
  }

  input{
    padding: 8px;
    margin: 0 !important;
    display: block;
  }
}

