<section class="AlertThemeFeraDark WindowContent BackgroundColor MainBoxPadding-15" id="WindowScrollBar">
  <section>
    <div class="Container">
      <div>
        <img *ngIf="GetIcon" [src]="GetIcon" alt="Icon">
      </div>
      <div style="margin-left: auto;width: 80%;">
        <span class="ValueTXT">{{GetValue}}</span>

        <input [(ngModel)]="inputValue" class="NapicuOSSimpleInput" type="text" name="value">
      </div>
    </div>
    <div class="NapicuOSSimpleButton Buttons">
      <button (click)="reject()">Cancel</button>
      <button (click)="submit()">Create</button>
    </div>
  </section>
</section>
