
.BackgroundColor {
  background-color: var(--NapicuAPPSAlertBackgroundColor);
}

.alertContent {
  color: white;
  padding: 10px 10px;
}

.alertFontSize {
  font-size: var(--NapicuAPPSAlertTextSize);
}

.alertImgSize {
  width: 57px;
  height: 57px;
}

.alertButton {
  width: 100%;
  text-align: right;

  button {
    width: 20%;
  }

}
