<section id="black">
  <div class="Center">
    <img *ngIf="Img" [src]="Img" id="SystemLogo" />
    <div>
      <div class="Loading">
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
        <div class="loader">
          <div class="dot"></div>
        </div>
      </div>
    </div>
  </div>
</section>
