.BackgroundColor{
  //background-color: #1982df;
  background-size: cover;
}

.LoadScreen{
  margin-top: 150px !important;
  img{
    width: 255px !important;
    height: 255px !important;
  }
}

.MainContent{

  animation: 1.5s ease-out 0s 1 onInit;
  text-align: center;
  color: black;
  margin-top: 30px;
  img{
    width: 155px;
    height: 155px;
  }

  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 0.9rem;
    font-weight: 400;
  }

  input{
    width: 40%;
  }

  .text{
    margin: 35px 0;
  }
}



@keyframes onInit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.weather{
  * {
    font-family: 'Work Sans', sans-serif !important;
  }

  width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #44444499;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(5.6px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  text-align: center;
  color: white;

  img{
    width: 120px;
    height: 120px;
    margin: 12px 0;
  }

  .temp{
    font-size: 5.3rem;
    font-weight: 800;
  }

  .temp-b{
    letter-spacing: 6px;
    font-size: 2rem;
  }

  .city{
    font-size: 2.2rem;
    margin: 10px 0;
    font-weight: 600;
  }

  .inf{
    font-size: 1.6rem;
    font-weight: 600;
    >div{
      margin-top: 10px;
    }

  }

  .date{
    color: rgba(255, 255, 255, 0.75) !important;
  }

  .status{
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.75) !important;
  }
}

