<section class="Input">
  <div class="Container">
    <div style="margin-left: auto;width: 80%;">
      <span class="ValueTXT">{{data.inputData.value}}</span>
      <input [(ngModel)]="inputValue" (ngModelChange)="onChangeInput()" class="NapicuOSSimpleInput" [ngClass]="{'NapicuOSSimpleInput-Red-Border': errorMessage}" [type]="data.inputData.inputType || 'text'" name="value">
    </div>
  </div>
  <div class="NapicuOSSimpleButton Buttons">
    <div *ngIf="!allowSubmit">{{errorMessage}}</div>
    <button (click)="onReject()">{{data.inputData.buttonType?.reject}}</button>
    <button (click)="onSubmit()" [disabled]="!allowSubmit">{{data.inputData.buttonType?.submit}}</button>
  </div>
</section>
