<section id="FlashBackground">
    <section>
        <div class="Title">{{ Title }} EZ Flash 2 BIOS {{ Version }}</div>
        <section>
            <div class="FlashPanel">
                <div class="Grid50">
                    <div class="Window">
                        <div class="TitleWindow">Current ROM</div>
                        <div class="txt" *ngFor="let i of Current | keyvalue">
                            <div class="Grid30">
                                <div>{{ i.key }}</div>
                                <div class="Yellow">{{ i.value }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="Window">
                        <div class="TitleWindow">Update ROM</div>
                        <div class="txt" *ngFor="let i of Update | keyvalue">
                            <div class="Grid30">
                                <div>{{ i.key }}</div>
                                <div class="Yellow">{{ i.value }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Path txt">
                    <div class="Grid30">
                        <div class="PathTitle">Path:</div>
                        <div id="Path" class="Yellow">
                            {{ LocationPath }}:\<span *ngFor="let i of PathFile">{{ i.title }}\</span>
                        </div>
                    </div>
                </div>
                <div class="Grid30 txt">
                    <div class="Window" [ngClass]="{ selectedWindow: SelectedWindow == 0 }">
                        <div *ngFor="let i of Drive; let index = index">
                            <div class="Grid30" [ngClass]="{ Selected: index == SelectedDir }">
                                <div>{{ i.title }}:</div>
                                <div>{{ i.description }}</div>
                            </div>
                        </div>
                    </div>
                    <div id="Scroll" class="Window" [ngClass]="{ selectedWindow: SelectedWindow == 1 }">
                        <div id="fileid">
                            <div *ngFor="let i of File; let index = index">
                                <div [ngClass]="{ Selected: index == SelectedFile, Grid50: i.dir }">
                                    <div>
                                        {{ i.title }}
                                    </div>
                                    <div *ngIf="i.dir">[DIR]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Grid100NON Notetxt Window">
                    <div class="TitleWindow leftNote">Note</div>
                    <div class="Column" *ngIf="!Flashing">
                        <div>
                            <div>[Enter] Select or Load</div>
                            <div>[Up/Down/Home/End] Move</div>
                        </div>
                        <div>
                            <div>[Tab] Switch</div>
                            <div>[Esc] Exit</div>
                        </div>
                    </div>
                    <div class="ProgressBar" [class.hidden]="!Flashing">
                        {{ FlashingText }}
                        <div>
                            <div class="Bar" id="Bar">
                                <div class="Bar grey width0" id="Bar1">
                                    <div class="Bar width0" id="Bar2">
                                        <div class="Bar cya width0" id="Bar3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>

<app-option-panel *ngIf="Display"></app-option-panel>
