<section class="WindowContent">
  <div class="Title">Welcome</div>
  <div class="MainBoxPadding-10">
    <p>
      Welcome to NapicuOS, NapicuOS is an open source web-based system, which is built on Angular. As you may
      have noticed the web contains a lot of stuff, so please respect its shortcomings and bugs. Please report
      any bugs through the application, or email example@example.com
    </p>
  </div>
  <div>
    <button class="NapicuSystemButton">Pokračovat</button>
  </div>
</section>
