<section class="WindowContent MainBoxPadding-15">
  <div class="Title">Welcome</div>

  <div>
    <img src="assets/systems/NapicuOS/icon-512x512.webp" alt="NapicuLogo" id="NapicuLogoWelcome" />
    <p>
      Welcome to NapicuOS, NapicuOS is an open source web-based system, which is built on Angular. As you may
      have noticed the web contains a lot of stuff, so please respect its shortcomings and bugs.<br />
      Please report any bugs through the application, or email example@example.com
    </p>
  </div>
  <div>
    <select id="sweetBorder" class="NapicuInputSelect-Welcome">
      <option value="English">English</option>
      <option value="Čeština">Čeština</option>
    </select>
  </div>
  <div>
    <button class="NapicuSystemButton" id="sweetBorder" style="font-weight: 800;">Pokračovat</button>
  </div>
</section>
