* {
  font-family: 'Cantarell', sans-serif;
  font-weight: 300;
}
.Title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
}
.MainBox {
  padding: 10px;
}
