/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "DosVGA";
  src: url("assets/font/Perfect DOS VGA 437.ttf") format("truetype"); 
}

*{
  font-family: "DosVGA";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}