@import '/src/app/Sys/Systems/NapicuOS/Styles/variables.scss';
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'DosVGA';
  //overflow-y: hidden;
  src: url('assets/font/Perfect DOS VGA 437.ttf') format('truetype');
}


$BorderTopABottom: 2px solid blue;
$BorderLeftARight: 4px solid blue;
$FrameSizeHeight: 100%;
* {
  font-family: 'DosVGA';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#black {
  background-color: black;
  width: 100%;
  height: 100vh;
  user-select: none;
  color: white;
}

#BiosContainer {
  background-color: lightgray;
  width: 100%;
  height: 85vh;
  padding: 20px 10px;
}
#Frame {
  border-left: $BorderLeftARight;
  border-right: $BorderLeftARight;
  border-top: $BorderTopABottom;
  border-bottom: $BorderTopABottom;
  height: $FrameSizeHeight;
}
.Grid {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100%;
}
.Grid-ItemHoz {
  display: grid;
  grid-template-rows: 50% 50%;
}
#Grid-BiosItems {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 3px 0px;
}
.colon {
  float: right;
  margin-right: 10%;
}
#Title {
  font-size: 1.8rem;
  padding: 20px;
  color: black;

  font-weight: bold;
}
.Information {
  font-size: 1.7rem;

  color: gray;
}
.blue {
  color: blue;
}
.Hin {
  border-top: $BorderTopABottom;
}

//Items

.Option {
  color: blue;
}

.BIOSSelectedOption {
  color: white;
}

.Right {
  border-left: $BorderLeftARight;
}
.Right > div {
  padding: 10px;
}

.Options-Arrow {
  font-size: 20px;
}
