@import './variables';

.BackgroundColor {
  background-color: var(--NapicuAPPSAlertBackgroundColor);
}

.alertContent {
  color: white;
  padding: 10px 10px;
}

.alertFontSize {
  font-size: var(--NapicuAPPSAlertTextSize);
}

.alertImgSize {
  width: 57px;
  height: 57px;
}

.alertButton {
  width: 100%;
  text-align: right;

  button {
    width: 20%;
    outline: none;
    border: none;
    border-radius: 7px;
    background: var(--NapicuAPPSAlertButtonColor);
    border-bottom: 4px solid var(--NapicuAPPSAlertButtonBottomColor);
    color: white;
    font-size: var(--NapicuAPPSAlertButtonSize);
    padding: 5px;
    cursor: pointer;
  }

  button:hover {
    background: var(--NapicuAPPSButtonHoverColor);
    border-bottom-color: var(--NapicuAPPSAlertButtonBottomHoverColor);
  }

}
