.AlertThemeFeraDark {
  --NapicuAPPSAlertBackgroundColor: #1E2127;
  --NapicuAPPSAlertTextColor: #ABB2BF;
  --NapicuAPPSAlertTextSize: 1rem;

  --NapicuAPPSAlertButtonSize: 1.1rem;
  --NapicuAPPSAlertButtonColor: #494a4f;
  --NapicuAPPSAlertButtonBottomColor: #323334;
  --NapicuAPPSButtonHoverColor: #35353a;
  --NapicuAPPSAlertButtonBottomHoverColor: #282a2a;


}
