.BackgroundColor {
  background-color: var(--NapicuClassicDark2);
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 7px;

  > div {
    width: 80%;
    margin: auto;
  }
}

