<section class="WindowContent ConsoleThemeFeraDark BackgroundColor" [ngClass]="{'disableEvent': !GetAllowEvent}">


  <section class="BarOptions">
    <!--Left bar-->
    <div class="LeftBox">

      <ul>
        <li (click)="clickOption(index)" *ngFor="let i of GetOptions; let index = index" style="padding-left: 3% !important;">
          <img [src]="i.icon" alt="Icon">
          {{i.name}}
        </li>
      </ul>
    </div>
    <!--Right bar-->
    <section id="WindowScrollBar" class="RightBox" >
      <ng-container [ngComponentOutlet]="GetOptions[selectedOption].component"></ng-container>
    </section>

  </section>

</section>
