<section class="WindowContent ConsoleThemeFeraDark BackgroundColor" id="WindowScrollBar">


  <section class="BarOptions">
    <!--Left bar-->
    <div class="LeftBox">

      <ul>
        <li (click)="clickOption(index)" *ngFor="let i of options; let index = index" style="padding-left: 3% !important;">
          <img [src]="i.icon" alt="Icon">
          {{i.name}}
        </li>
      </ul>
    </div>
    <!--Right bar-->
    <section class="RightBox">
      <ng-container [ngComponentOutlet]="options[selectedOption].component"></ng-container>
    </section>

  </section>

</section>
